version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: musicapp-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  app:
    build: .
    container_name: musicapp-app
    depends_on:
      - mongo
    restart: unless-stopped
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MongoDb__ConnectionString=mongodb://mongo:27017
      - MongoDb__DatabaseName=MussicAppDb
    ports:
      - "8080:8080"

volumes:
  mongo-data:
